/*ListView*/

.listWrapper {
    width: 80%;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
}

.panelCard {
    background: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
    margin: 10px 10px;
    height: 300px;
    width: 23%;
    justify-content: center;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    transition: box-shadow 0.1s ease-in-out;
    text-align: left;
}

.panelCard:hover {
    box-shadow: 0 12px 24px #999, 0 12px 24px #999;
}

.panelCard>.img-container {
    height: 80%;
    overflow: hidden;
}

.panelCard>.img-container>img {
    width: 80%;
}

.panelCard>.img-content {
    font-size: 90%;
    width: 90%;
    position: relative;
    bottom: 20%;
    margin: auto;
}

.panelCard>.img-content>ul {
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
    .panelCard:hover {
        height: 300px;
        width: 250px;
        box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    }
}

.checkboxContainer {
    position: relative;
    left: 90%;
    bottom: 80%;
}


/*DetailView*/

.SmallPanelCard button {
    background-color: white;
    min-width: 100%;
}

.SmallPanelCard button .img-content {
    font-size: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
}

.SmallPanelCard .img-content ul {
    list-style-type: none;
    text-align: left;
    margin: auto;
    padding-left: 0;
}

.SmallPanelCard .img-content ul li {
    text-align: left;
}

.detailWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

table {
    width: 100%;
}

.TableAndSideMenu {
    display: grid;
    grid-template-columns: 13.6% 75% 11.4%;
    margin: auto;
    margin-left: 10%;
    margin-top: 1%;
    width: 90%;
    padding: 0;
}

td,
th {
    border: 1px solid #ddd;
    text-align: center;
}

#solarPanels td,
th {
    height: 50px;
}

#firstColumn {
    max-width: 20%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

tr:nth-child(1):hover {
    background-color: #fff;
}

#TableHeadline {
    background: #777;
}

.RemoveButtonContainer {
    position: relative;
    left: 46%;
    bottom: 90%;
}

.RemoveButtonContainer button {
    cursor: pointer;
}

.sideMenuContainer {
    display: flex;
    flex-flow: column wrap;
    grid-column-start: 3;
    text-align: center;
    margin-left: 3%;
    grid-row-start: 1;
    grid-row-end: 3;
}

.sideMenuContainer p {
    margin-top: 0;
    font-size: 25px;
    background-color: #aaa;
    color: #fff;
    margin-bottom: 5px;
    vertical-align: center;
}

.tableHeaders {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 282px;
}


/*Detail and List*/

header {
    padding: 10px 0;
    background-color: #aaa;
    margin-bottom: 60px;
    padding-bottom: 25px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
    border: solid 1px;
}

nav a:link,
a:visited {
    background-color: #777;
    color: darkorange;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 0.5%;
}

header h1 {
    margin: 2% auto;
}

nav a:hover {
    background-color: #777;
    color: darkorange;
    padding: 8px 10px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    border-radius: 5px;
}

.STUNSenergi {
    width: 50%;
    margin: auto;
}

header button {
    width: 150px;
    height: 10%;
    position: relative;
    margin-bottom: 2px;
    margin-top: 5px;
    margin-right: 20px;
    padding: 10px;
    color: black;
    border-radius: 0.5em;
}

.Navbar button:hover {
    background-color: #ddd;
}

header h1 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

header nav {
    padding: 10px;
    text-align: center;
}

header p {
    font-weight: bold;
    padding: 0 10px;
    margin: 0;
}